
.projects {
	background: lightsalmon;
	width: 65%;
	padding: 15px;
	border-radius: 10px;
	margin: auto;
	box-shadow: 0 7px 7px 7px rgba(1, 1, 1, 0.4);
}

.project {
	background-image: linear-gradient(to right, rgb(10, 102, 163), rgb(44, 151, 151));
	padding: 15px;
	margin: 35px 15px;
	border-radius: 10px;
}

.projects h2 {
	padding: 0;
	margin: 5px 15px 15px 15px;
		color: transparent;
		text-transform: uppercase;
		-webkit-background-clip: text;
		background-clip: text;
		background-image: linear-gradient(rgb(95, 88, 49), rgb(85, 252, 85),rgb(95, 88, 49));
}

.project label {
	display: inline-block;
	width: 70%;
}
.btnOpen {
	padding: 10px;
	display: inline;
	background-image: radial-gradient(rgb(45, 185, 80), rgb(6, 105, 56));
	border-radius: 10px;
	border: none;
	position: relative;
	top: -2.5em;
	left: 5em;
	cursor: pointer;
	box-shadow: 2px 2px rgba(1, 1, 1, 0.9);
}

.btnOpen:active {
	top: -2.3em;
	left: 5.2em;
	box-shadow: none;
}
