

.hideMenuDiv {
	background-color: rgb(170, 144, 109);
	position: absolute;
	top: 150px;
}

.nav {
	width: 50%;
	display: flex;
	margin: 80px;
	padding: 0;
	list-style: none;
}

.nav-item {
	position: relative;
}

.nav-item:hover > .subnav {
	display: block;
}

.nav-link {
	display: block;
	padding: 8px 16px;
	background-color: #444;
	color: #fff;
	text-decoration: none;
}

.nav-link:hover {
	background-color: #333;
}

.subnav {
	display: none;
	top: 100%;
	min-width: 100% ;
	position: absolute;
	list-style: none;
	z-index: 1;
	margin: 0;
	padding: 0;
}

.subnav-link {
	padding: 8px 16px;
	background-color: #333;
	color: #fff;
	text-decoration: none;
	display: block;
}

.subnav-link:hover {
	background-color: #444;
}
